.preview {
    display: flex;
    justify-content: center;

    background-color: var(--color-card);
    border-radius: 28px;
    padding: 45px;

    @media screen and (max-width: 600px) {
      padding: 30px;
    }
}
